<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', :class => 'form-control form-control-lg' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, class: 'form-control form-control-lg' %>
</div>

<form>
  <div class="form-group">
    <label for="major-form-select">Major</label>
    <select class="form-control" id="major-form-select">
      <option>Computer Science</option>
      <option>Business</option>
      <option>Finance</option>
      <option>Electrical Engineering</option>
      <option>Mathematics</option>
    </select>
  </div>
</form>
