/*Basic Formatting*/
body{
    background-color: gray;
}

/*Grid*/
.grid{
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;   
}

/*header*/
.head{
    width: auto;
    height: auto;
    display: grid;
    background-color: white;
    grid-template-columns: 80% auto;
}

.web-title{
    text-align: center;
}



.nav{
    width: auto;
    height: auto;
    display: grid;
    background-color: orange;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.acct{
    grid-column: 1/3;
    text-align: center;
}

.login, .profile{
    width: auto;
    height: auto;
    border: 2px black;
    text-align: center; /*Going to be images later*/

}

/*footer*/
footer{
    clear:both;
    background: black; 
    color: whitesmoke; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    text-align: center; 
    margin: 0;
    padding: 0;
}

/*Left Block Information*/
.block1{
    width: auto; 
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px 5px;
    padding: 10px 10px 10px;
}

.info{
    width: auto; 
    height: auto;
    background-color: pink;
    display: grid;
    grid-gap: 10px 10px;
}

.gallery{
    width: auto; 
    height: auto;
    background-color: green;
    display: grid;
    grid-gap: 10px 10px;
}

/*Right Block Information*/
.block2{
    width: auto; 
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px 5px;
    padding: 5px 5px 5px;
}

.recent{
    width: auto; 
    height: auto;
    background-color: red;
    display: grid;
    grid-gap: 10px 10px;
}

.panels{
    width: auto; 
    height: auto;
    background-color: yellow;
    display: grid;
    grid-template-rows: auto auto auto;
}

.panel1, .panel2, .panel3{
    width: auto; 
    height: auto;
    background-color: lightblue;
}