<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css">
    </head>
</html>

<body>
    <header>
        <div class="head">
            <div class="web-title">
                <h1>Student Trading Post</h1>
                <div class="search">
                    
                </div>
            </div>
            <div class="nav">
                <div class="acct"><h2>Account</h2></div>
                <div class="login">
                    <h3>login</h3>
                </div>
                <div class="profile">  
                    <h3>profile</h3>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="grid">
            <div class="block1">
                <div class="info">
                    <h1>Information about Site</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.</p>

                    <p>Eleifend quam adipiscing vitae proin. Nisl rhoncus mattis 
                    rhoncus urna neque viverra justo nec. Bibendum est ultricies 
                    integer quis. Aliquam eleifend mi in nulla posuere sollicitudin 
                    aliquam ultrices sagittis. Molestie ac feugiat sed lectus 
                    vestibulum. Morbi enim nunc faucibus a pellentesque sit amet. 
                    Habitasse platea dictumst vestibulum rhoncus est pellentesque 
                    elit ullamcorper. Dolor sit amet consectetur adipiscing elit 
                    duis. Mus mauris vitae ultricies leo integer malesuada nunc. 
                    Amet facilisis magna etiam tempor orci eu lobortis elementum. 
                    Ut consequat semper viverra nam. Viverra vitae congue eu 
                    consequat. Sed turpis tincidunt id aliquet risus feugiat in. 
                    Egestas fringilla phasellus faucibus scelerisque eleifend 
                    donec pretium vulputate. Semper eget duis at tellus at urna 
                    condimentum. Dis parturient montes nascetur ridiculus mus 
                    mauris vitae. Mattis nunc sed blandit libero volutpat sed. 
                    Sit amet facilisis magna etiam tempor orci eu.</p>
                </div>

                <div class="gallery">
                    <h1>Gallery</h1><br>
                    <img src="../assets/images/book1.jpg" alt="book1example"><br>
                    <img src="../assets/images/book2.jpg" alt="book2example"><br>

                </div>
            </div>

            <div class="block2">
                <div class="recent">
                    <h1>Recent Listings</h1>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.</p>
                </div>
               
                <div class="panels">
                    <div class="panel1">
                        <h2>Listing 1</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="panel2">
                        <h2>Listing 2</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="panel3">
                        <h2>Listing 3</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        2019 | ITSC3155-GROUP13<br>
        Nicolas Davila | Riley Hood | Andreas Kamppouris | Chouathong Lo | Noah Rozelle<br>
        The Student Trading Post
    </footer>
</body>